/*************************/
/******** Hero css ******/
/***********************/


.hero-style-1{
    position: relative;
    z-index: 2;
    .hero-image{
        width: clamp(29.875rem, -0.925rem + 49.677vw, 58.688rem);
        height: 596px;
        @include media-breakpoint-down(lg){
            width: 100%;
            height: 500px;
        }
        @include media-breakpoint-down(md){
            width: 100%;
            height: 400px;
        }
        @include media-breakpoint-down(sm){
            width: 100%;
            height: 300px;
        }
        img{
            max-width: none;
            height: 100%;
            width: 100%;
            
        }
    }
    .nice-select {
        height: 17px;
        line-height: 16px;
    }
    .hero-from-wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr 0.6fr;
        border: 1px solid var(--bs-border);
        border-radius: 12px;
        background: var(--bs-white);
        @include media-breakpoint-down(xxl){
            grid-template-columns: 1fr; 
        }
        .item{
            position: relative;
            padding: 12px 24px;
            &::after{
                position: absolute;
                content: '';
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                height: 70%;
                width: 2px;
                background: #C8C8C8;
                @include media-breakpoint-down(xxl){
                    display: none;
                }
            }
            &:last-child::after{
               display: none;
            }
        }
        .hero-date{
            width: 130px;
        }
        input[type="date"] {
            width: 120px;
            height: 20px;
            border: none;
            outline: none;
            color: var(--bs-body-color);
            font-size: 14px;
            font-weight: normal;
            transform: translateY(-2px);
        }
        .hero-from-button{
            display: flex;
            max-width: 116px;
            gap: 9px;
            justify-content: center;
            align-items: center;
            max-height: 52px;
        }
    }

    .pading-left{
        padding-left: clamp(0rem, -13.3621rem + 21.5517vw, 12.5rem);
    }

    // home 2 css
    // hero-from-wrapper-2
    .hero-from-wrapper-2{
        border-radius: 50px;
        @include media-breakpoint-down(xxl){
            border-radius: 16px;
        }
        .hero-from-button{
            border-radius: 36px;
        }
    }
    .hero-desc-style-2{
        color: #CCCCCC;
    }
    .hero-shape-1{
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
    }
    .hero-shape-2{
        position: absolute;
        right: 0;
        top: 0;
        z-index: -1;
        @include media-breakpoint-down(sm){
            display: none;
        }
    }
    // hero-image-2
    .hero-image-2{
        max-width: 100%;
        height: 617px;
        @include media-breakpoint-down(lg){
            height: 550px;
        }
        @include media-breakpoint-down(md){
            height: 450px;
        }
        @include media-breakpoint-down(md){
            height: 300px;
        }
        img{
            height: 100%;
            width: 100%;
        }
    }


}


.author-banner-card{
    display: flex;
    gap: 20px;
    .author-image{
        flex: 0 0 auto;
        width: 100px;
        border-radius: 6px;
        overflow: hidden;
        img{
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
    .ratings{
        i{
            color: #FFCB3D;
        }
    }
}