:root{
    --bs-primary: #336AEA;
    --bs-primary-rgb: 51, 106, 234;
    --bs-secondary: #F1F5FF;
    --bs-secondary-rgb: 241, 245, 255;
    --bs-border: #EAEAEA;
    --bs-border-rgb: 234, 234, 234;
}