:root{
    --bs-primary: #FF6600;
    --bs-primary-rgb: 255, 102, 0;
    --bs-secondary: #FFF9F5;
    --bs-secondary-rgb: 255, 249, 245;
    --bs-border: #EAEAEA;
    --bs-border-rgb: 234, 234, 234;
}